## [Start] Sandbox Mode Enabled, IAM Access Enabled. **
#if( !$ctx.stash.get("hasAuth") )
  #if( $util.authType() == "API Key Authorization" )
    #return($util.toJson({}))
  #end
  #if( $util.authType() == "IAM Authorization" && $util.isNull($ctx.identity.cognitoIdentityPoolId) && $util.isNull($ctx.identity.cognitoIdentityId) )
    #return($util.toJson({}))
  #end
  $util.unauthorized()
#end
$util.toJson({})
## [End] Sandbox Mode Enabled, IAM Access Enabled. **